.cover__link {
  text-decoration: none;
  margin: 0 auto;
  position: relative;
  max-height: 740px;
  padding-top: 62.5%;
  display: block;
}

.cover__link::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:rgba(42, 44, 47, 0);
  transition: background-color .2s linear;
}

.cover__link:hover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:rgba(42, 44, 47, .8);
}
