.card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  margin-bottom: 26px;
}

.card__text:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .card__text{
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .card__text {
    font-size: 16px;
  }
}
