.card__title  {
max-width: 440px;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 106%;
margin: 0;
}

@media screen and (max-width: 1023px) {
  .card__title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media screen and (max-width: 767px) {
  .card__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;
    max-width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
  }
}